<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Reservation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="expand()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #area id="dataTest">
      <div class="col-md-10 text-center">
        <p class="m-auto">{{date | date:'วันที่ dd-MM-YYYY เวลา HH:mm:ss'}}</p>

      </div>
      <div class="col-md-2 btn-logout" *ngIf="role === 0;else admin">
        <button class="btn btn-outline-danger" type="button" (click)="onLogout()">Logout</button>
      </div>
      <ng-template #admin>
        <div class="col-md-2 text-end" >
          <button class="btn" (click)="adminExpand()"><i class="fa-solid fa-bars" ></i></button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>

<div class="sidenav" #sideNav>
  <div class="position-absolute">
    <i class="fa-sharp fa-solid fa-circle-xmark float-end" style="font-size:27px" (click)="adminClose()"></i>
    <p class="text-white float-center">Home</p>
    <p class="text-white float-center">Setting</p>
  </div>

</div>
