<div class="modal" #modal [id]="id"  tabindex="-1" aria-modal="modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >{{head}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <p style="white-space: normal;word-wrap: break-word;" [innerHTML]="message"></p>
      </div>
      <div class="modal-footer" *ngIf="footerFlag;else footer; ">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onBtnOkClick()" >Ok</button>
      </div>
      <ng-template #footer>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
        </div>
      </ng-template>

    </div>
  </div>
</div>
