<div class="modal" #modal  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >{{head}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <p style="white-space: normal;word-wrap: break-word;">{{message}}</p>
      </div>
      <div class="modal-footer" *ngIf="footerFlag;else footer; ">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      <ng-template #footer>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="okBtnClick()">Ok</button>
        </div>
      </ng-template>

    </div>
  </div>
</div>
