<section >
  <svg width="70%"  fill="none" preserveAspectRatio="xMinYMin meet">
    <circle id="circle" cx="60" cy="60" r="20" fill="#2eb04f">
        <animateMotion id="ani" dur="10s" repeatCount="indefinite"
      path="M20, 60 C20,-50 180, 150 180,60 C180-60 20,150 20, 60 z" />
    </circle>
    <circle id="circle" cx="80%" cy="60" r="30" fill="#2eb04f">
      <animateMotion id="ani" dur="10s" repeatCount="indefinite"
      path="M20, 60 C20,-50 180,-160  200,60 z" />
  </circle>
  <circle id="circle" cx="90" cy="500" r="20" fill="#2eb04f">
    <animateMotion id="ani" dur="10s" repeatCount="indefinite"
    path="M100,-250 -100, 100 z" />
  </circle>
  <circle id="circle" cx="80%" cy="500" r="15" fill="#2eb04f">
    <animateMotion id="ani" dur="5s" repeatCount="indefinite"
    path="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />
  </circle>
  <circle id="circle" cx="40%" cy="500"  r="20" fill="#2eb04f">
    <animateMotion id="ani" dur="15s" repeatCount="indefinite"
    path="M40 100, 200 300 ,30 100, 300 300,300 -300,100 -400,Z" />
  </circle>
  <circle id="circle" cx="21%" cy="10%" r="50" fill="#0C6FC1" stroke="black" fill-opacity="0.6"></circle>
  <circle id="circle" cx="65%" cy="20%" r="130" fill="#0C6FC1" stroke="black" fill-opacity="0.6"></circle>
  <circle id="circle" cx="64%" cy="70%" r="60" fill="#0C6FC1" stroke="black" ></circle>
  <circle id="circle" cx="35%" cy="70%" r="100" fill="#0C6FC1" stroke="black" ></circle>
  <circle id="circle" cx="35%" cy="25%" r="50" fill="#0C6FC1" stroke="black" ></circle>
  <circle id="circle" cx="27%" cy="42%" r="20" fill="#0C6FC1" stroke="black" fill-opacity="0.4"></circle>
  <circle id="circle" cx="20%" cy="55%" r="40" fill="#0C6FC1" stroke="black" ></circle>
  <circle id="circle" cx="24%" cy="86%" r="20" fill="#0C6FC1" stroke="black" fill-opacity="0.6"></circle>
  <circle id="circle" cx="80%" cy="80%" r="20" fill="#0C6FC1" stroke="black"></circle>
  </svg>
</section>
